{% extends 'requestit/main.html' %}

{% block content%}
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputEmail4">Họ & tên</label>
                <input class="form-control" type="text" placeholder="họ và tên" readonly>
                </div>
            <div class="form-group col-md-3">
                <label for="inputState">Bộ phận</label>
                <select id="inputState" class="form-control">
                    <option selected>Vui lòng chọn</option>
                    <option>Kế toán</option>
                    <option>Thu mua</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Số điện thoại</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="ĐT liên hệ">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputState">Quản lý</label>
                <select id="inputState" class="form-control">
                    <option selected>Vui lòng chọn</option>
                    <option>Kế toán</option>
                    <option>Thu mua</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Loại Request</label>
                <select id="inputState" class="form-control">
                    <option selected>Vui lòng chọn</option>
                    <option>Kế toán</option>
                    <option>Thu mua</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Thời gian muốn giải quyết</label>
                <select id="inputState" class="form-control">
                    <option selected>Vui lòng chọn</option>
                    <option>Kế toán</option>
                    <option>Thu mua</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="inputAddress">Tiêu đề</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Nhập tiêu đề">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="inputAddress">File cần nhập</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="content">Nội dung</label>
                    <textarea class="form-control" id="content" rows="9"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Gửi</button>
        </form>
{% endblock %}