{% load static %}
<nav class="navbar navbar-expand-lg navbar-custom bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">Trang chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="taorequest.html">Tạo request</a>
        </li>            
        <li class="nav-item">
            <a class="nav-link" href="#">Tài liệu IT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Kho IT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hướng dẫn</a>
        </li>
    </ul>
    <div>
        <span class="hello-msg">Hello, admin</span>
        <span><a class="hello-msg" href="">Thoát</a></span>
        </div>
    </div>
</nav>