{% load static %}
<div class="col-2 mx-auto">
    <div class="row">
        <div class="col">
            <p class="btn btn-info btn-lg btn-block" id="title">Loại request</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">Có chi phí</a>
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">Bảo mật</a>
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">Khác</a>
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
                </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <p class="btn btn-info btn-lg btn-block" id="title">Status</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">Hoàn thành</a>
                <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">Chưa hoàn thành</a>
                <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">Không chấp nhận</a>
                <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <p class="btn btn-info btn-lg btn-block" id="title">Đánh giá</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">5 sao</a>
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">4 sao</a>
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">3 sao</a>
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">2 sao</a>
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="$" class="">1 sao</a>
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>  
        </div>
    </div>
</div>